.container {
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  /* height: 400px; */
  width: 737px; /* 732 */
  padding: 0;
  padding: 32px 35px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.headerGroup {
  display: flex;
}

.notifications {
  /* display: flex; */
}

h1 {
  /* border: 1px solid green; */
  color: hsl(224, 21%, 14%);
  display: block;
  font-size: 24px;
  align-self: center;
  margin: 0;
}

.number {
  background: hsl(219, 85%, 26%);
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  display: block;
  align-self: center;
  padding: 2px 10px;
  margin-left: 10px;
}

button {
  all: unset;
  color: hsl(219, 12%, 42%);
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  color: hsl(219, 85%, 26%);
}

@media (max-width: 755px) {
  .container {
    padding: 20px;
    width: 380px;
  }

  h1 {
    font-size: 20px;
  }

  button {
    font-size: 14px;
  }
}
