@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
}

body {
  background: hsl(210, 60%, 98%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
